<h3><label style="color:red; font-weight:550">Contacts list:</label></h3>

<%@contacts.each do |contact|%>
<p>
 <a href = "/list/<%=contact.id%>" style="color:black; font-weight:700"><%=contact.name%></a>
 </br>
</p>
<%end%>